<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
<!--    指定日志输出位置-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            日志输出格式-->
<!--            按照顺序分别是： 时间 日志级别 线程名称 打印日志的类 日志主题内容 换行-->
            <pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%thread] [%logger] [%msg]%n</pattern>
        </encoder>
    </appender>
<!--    设置全局日志级别,日志级别分别是: debug info warn error-->
<!--    指定任何一个日志级别都只能打印当前日志级别和后面日志级别的日志-->
    <root level="DEBUG">
<!--     指定打印日志的appender, 通过STDOUT引用上面配置的appender   -->
        <appender-ref ref="STDOUT"/>
    </root>
<!--    根据特殊需要指定局部日志级别-->
    <logger name="com.atguigu.mybatis.mappers" level="DEBUG"/>
</configuration>