<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.atguigu.UserMapper">
<!--    int insertUser(User user);-->
    <insert id="insertUser">
        insert into t_user values (null, 'admin', '123465', 23, '男', '3231821599@qq.com')
    </insert>

    <update id="updateUser">
        update t_user set username='root', password = '123456' where id = 1
    </update>

    <delete id="deleteUser">
        delete from t_user where id = 2
    </delete>

    <select id="getUserbyId" resultType="com.atguigu.User">
        select * from t_user where id = 1
    </select>

<!--    List<User> getAllUser();-->
    <select id="getAllUser" resultType="user">
        select * from t_user
    </select>

</mapper>